@font-face {
  font-family: Suisse Works;
  src: url("../asset/Suisse\ Works\ Bold.woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

i:hover {
  cursor: pointer;
}

/*Signup components styling */
.signup form {
  margin-top: 3vmax;
}
.signup form h6 {
  font-weight: 800;
  font-family: Gilroy;
}
.signup form .form-control {
  padding: 1vmax 1vmax;
  border-radius: 0;
  border: 1px solid black;
  margin-top: 1vmax;
}
.signup form button {
  border-radius: 0;
  background-color: rgb(148, 67, 224);
  font-weight: 700;
  font-family: Gilroy;
  padding: 0.8vmax 0;
  border: 1px transparent;
  margin-top: 2vmax;
}
/*login's styling*/
